:root {
  --bg1: #181820;
  --bg2: rgba(0,0,0,.5);
  --fg1: #fff;
  --fg2: #ccc;
  --tx1: #fff;
  --tx2: #bbc;
  --eg1: #223;
  --hl1: rgba(255,255,255,.1);
  --nav: #202030;
  --nav1: #fff;
  --shad: rgba(0,0,0,.2);

  --max-w: 80rem;
  --filet: 1rem;
}

html {
  background: #181820;
  background: var(--bg1);
  color: #fff;
  color: var(--tx2);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 240px;
  margin: 0;
}
body>*{
  flex: 1;
}
body header, body footer{
  flex: none;
}

article {
  max-width: var(--max-w, 1200px);
  border: solid 1px var(--eg1);
  border-radius: var(--filet);
  background: var(--bg2);
  box-shadow: 0.5rem 0.5rem 1rem var(--shad);
  /* padding: 0 1rem; */
  overflow: hidden;
}
article + article {
  margin: 0.5rem 0 0 0;
}
main, aside {
  max-width: var(--max-w, 1200px);
  margin: 0 auto;
}
aside{
  font-size: .875rem;
}

hr {
  border: none;
  border-top: solid 1px var(--eg1);
  width: 100%;
}
footer {
  text-align: center;
  background: var(--nav);
  color: var(--nav1);
  padding: 0.25rem;
}
/* ============================================================== */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* ============================================================== */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 9;
  background: var(--nav);
  color: var(--nav1);
  font-weight: bold;
  box-shadow: 0 0.25rem 0.25rem var(--shad);
  transition: top 0.3s;
}
header>*{
  padding: 0 .5rem;
}

/* GENERAL NAV-LINK SETTINGS */
nav {
  max-width: var(--max-w, 1200px);
  margin: 0 auto;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:hover{
  background: var(--hl1);
}
nav li:focus-within{
  background: var(--hl1);
}

nav li > * {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: var(--nav1);
  padding: 0 .5rem;
}

nav a {
  text-decoration: none;
  
}
nav a > * {
  display: block;
}

/* BASE-LEVEL NAV-LINK SETTINGS */
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  display: table;
  height: 2.5rem;
}

/* DROPDOWN NAV-LINK SETTINGS */
nav li li {
  display: table-row;
  height: 2em;
}
nav ul ul {
  background: var(--nav);
  display: table;
  min-width: 5rem;
  position: absolute;
  padding: 0;
  z-index: -9;
  font-weight: normal;
  font-size: .8rem;
  transform-origin: top;
  transform: rotateX(-90deg); 
  transition: transform 0.2s;
}
/* Transformation MAGIC! */
nav li:hover > ul,
nav ul ul:hover {
  transform: rotateX(0deg);
  z-index: 10;
}
nav li:focus-within > ul,
nav ul ul:focus-within {
  transform: rotateX(0deg);
  z-index: 10;
}
/* HEADER END */
/* ================================================================ */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* ================================================================ */



h1,
h2,
h3 {
  color: var(--tx1);
  text-align: center;
  margin: 1em 1rem 0.5em 1rem;
}
h4,
h5,
h6 {
  color: var(--tx1);
  text-align: left;
  margin: 1em 1rem 0.5em 1rem;
}
p{
  color: var(--tx2);
  margin: 0.5em 1rem;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus{
  color: var(--fg2);
}




table {
  border-collapse: collapse;
  width: 100%;
}

th,
tr,
td {
  border: solid 1px var(--eg1);
  text-align: center;
}

tr:nth-child(odd) {
  background: var(--bg1);
}

img,object {
  width: 100%;
  object-fit: cover;
  display: block;
}
/*============================================================*/
/* SPEECH-BUBBLES SPEECH-BUBBLES SPEECH-BUBBLES SPEECH-BUBBLES*/
/*============================================================*/
dt,dd{
  display: inline-block;
  overflow: hidden;
}
dt{
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}
dl{
  margin: .75rem 0;
}
.speech{
  position: relative;
  overflow: auto;
  
  max-height: 50vh;
}
.speech dd{
  display: table;
  background: var(--bg1);
  border: solid 1px var(--eg1);
  border-radius: var(--filet);
  border-top-left-radius: 0;
}
.speech .self dd{
  background: #223;
  /* border-radius: 1rem 1rem 0 1rem; */
}
.speech dl > img{
  width:3rem;
  height:3rem;
  margin: 0 .5rem;
  border-radius: 50%;
  float: left;
}
.speech dd img{
  /* all: unset; */
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
}
.speech:last-child::after{
  content:'';
  display: block;
  clear: both;
}
.speech time{
  font-size: .75rem;
  color: #fff4;
}

/*=======================================================*/
/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */
/*=======================================================*/

@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
/* @media screen and (min-width: 768px){
  .menu{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .menu~*{
    display: none;
  }
} */
