:root {
  --bg1: #223; /*--bg1: #111;*/
  --bg2: #0008;
  --fg1: #fff;
  --fg2: #ccc;
  --hl1: #222232;
  --hl2: ;
  --nav: #334;
  --nav1: #fff;
  --shad: #0003;

  --max-w: 80rem;
}

[data-theme="light"] {
  --bg1: #ddd;
  --bg2: #fff;
  --fg1: #000;
  --fg2: #666;
  --hl1: #eee;
  --nav: #fff;
  --nav1: #000;
}

[data-theme="crazy"] {
  --bg1: var(--rgb-d);
  --bg2: #000c;
  --fg1: var(--rgb-l);
  --hl1: var(--rgb);
  --nav: var(--rgb-l);
  --nav1: var(--rgb-d);
}
[data-theme="black"] {
  --bg1: #000;
  --bg2: #0000;
  --fg1: #ccd;
  --hl1: #c40;
  --nav: #c40;
  --nav1: #fff;
}
[data-theme="picture"] {
  --bg1: url("https://unsplash.it/1920/1080");
  --bg2: #000c;
  --fg1: #ccd;
  --hl1: #c40;
  --nav: #c40;
  --nav1: #fff;
}

html {
  background: var(--bg1);
  color: var(--fg1);
  font: 20px sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
}

hr {
  border: none;
  border-top: solid 1px var(--hl1);
}
footer{
  text-align: center;
  background: var(--nav);
  padding: .25rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
	right: 0;
	display: flex;
  z-index: 999;
  background: var(--nav);
	color: var(--nav1);
	font-weight: bold;
  box-shadow: 0 0.25rem 0.25rem var(--shad, #0003);
  transition: all 0.3s;
}
nav{
	max-width: var(--max-w, 1200px);
  margin: 0 auto;
}
nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  flex: 1;
  display: table;
  height: 2.5rem;
  align-content: stretch;
}

nav li > * {
  display: table-cell;
  vertical-align: middle;
	text-align: center;
  color: var(--nav1);
  padding: 0 0.5rem;
}
nav a>* {
  display: block;
}
nav a{
  text-decoration: none;
}

section {
  max-width: var(--max-w, 1200px);
  border: solid 1px var(--hl1);
  background: var(--bg2);
  box-shadow: 0.5rem 0.5rem 1rem var(--shad, #0003);
  padding: 0 1rem;
}
section + section{
  margin: 0.5rem 0 0 0;
}
article{
  max-width: var(--max-w, 1200px);
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1em 0 0.625em 0;
}
h4,
h5,
h6 {
  text-align: left;
  margin: 1em 0 0.625em 0;
}
p {
  margin: 0.625em 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
tr,
td {
  border: solid 1px var(--hl1);
  text-align: center;
}

tr:nth-child(odd) {
  background: var(--bg1);
}

img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
