.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
  grid-auto-flow: dense;
  justify-content: center;
  align-content: start;
  gap: 0.25rem;
  background: var(--bg2);
  margin: 0 auto;
  padding: 1rem;
}
.gallery a{text-decoration: none;}
.gallery a:visited{color: #ffc;}
.gallery img {
  width: 100%;
  height: 100%;
  box-shadow: 0.25rem 0.25rem 0.5rem #0004;
}
.gallery li {
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
.card {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  padding: 1rem;
  background: #0008;
}
.gallery .card {
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: all 0.25s ease-in-out;
}
.gallery li:hover .card {
  box-shadow: 0.5rem 0.5rem 1rem #0006;
  transform: scale(1, 1);
}

@media only screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-auto-rows: 5rem;
  }
}

.w3h2 {
  grid-column: span 3;
  grid-row: span 2;
}
.w2h3 {
  grid-column: span 2;
  grid-row: span 3;
}
.w2h2 {
  grid-column: span 2;
  grid-row: span 2;
}
