:root {
  /*  COLORS  */
  --bgc: #181820;
  --bgc-dark: #0c0c10;
  --bdc: #202030;
  --txc: #ffffff;
  --txc-light: #ddd;
  /*  SIZES  */
  --pad: 1rem;
  --rad: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #181820;
  background: var(--bgc);
  color: #ffffff;
  color: var(--txc);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

body {
  margin: 0 auto;
}

/*  MAIN HEADER  */
body > header {
  position: relative;
  background: var(--bdc);
  z-index: 9;
  -webkit-box-shadow: 0 .5em .5rem #0004;
          box-shadow: 0 .5em .5rem #0004;
  font-weight: bold;
}

body > header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

body > header li {
  display: inline-table;
  height: 100%;
}

body > header li > * {
  display: table-cell;
  vertical-align: middle;
}

body > header a {
  border-radius: var(--rad);
  padding: .5rem;
  color: inherit;
  text-decoration: none;
}

body > header a:visited {
  color: inherit;
}

body > header a:hover, body > header a:active, body > header a:focus {
  background: rgba(255, 255, 255, 0.15);
}

/*  DIVISIONS AND CONTAINERS  */
main,
aside {
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

article {
  margin: 0 auto;
  background: var(--bgc-dark);
  max-width: 768px;
  border-radius: var(--rad);
  border: 1px solid var(--bdc);
  overflow: hidden;
}

article + article {
  margin-top: .5rem;
}

hr {
  border: none;
  border-top: 1px solid var(--bdc);
}

img,
svg {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  TEXT-STYLING AND PARAGRAPH-STYLING  */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

h1,
h2 {
  margin: 0.75em var(--pad) 0.5rem var(--pad);
}

h3,
h4,
h5,
h6 {
  margin: 0.75em var(--pad) 0.5rem var(--pad);
}

p,
ul,
ol {
  margin: 0.5em var(--pad);
  color: var(--txc-light);
}

ul,
ol {
  padding-left: 1.75em;
}

/* MISC */
progress[value] {
  width: 5em;
  height: 1em;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--bdc);
  --grad: linear-gradient(45deg, #fff, #000);
}

progress[value]::-ms-fill {
  background: #f80;
}

progress[value]::-moz-progress-bar {
  background: #f80;
}

progress[value]::-webkit-progress-bar {
  background: var(--grad);
}

progress[value]::-webkit-progress-value {
  background: #f80;
}

@media (max-width: 768px) {
  html {
    font-size: 2.60417vw;
  }
}

@media (max-width: 614px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5vw;
  }
}

@media (max-width: 240px) {
  html {
    font-size: 12px;
  }
}

#cursor {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 0 0 4rem 2rem white;
          box-shadow: 0 0 4rem 2rem white;
  z-index: 9999;
  background-blend-mode: multiply;
}

@-webkit-keyframes kenburns {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes kenburns {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

p {
  -webkit-perspective: 1in;
          perspective: 1in;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.plane1 {
  position: relative;
  top: 0;
  -webkit-transform: translateZ(0.5in) scale(0.5);
          transform: translateZ(0.5in) scale(0.5);
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
}
/*# sourceMappingURL=main.css.map */