:root {
  /*  COLORS  */
  --bg-1: #181820;
  --bg-2: #0c0c10;
  --eg-1: #222233;
  --fg-1: #333344;
  --tx-1: #ffffff;
  --tx-2: #cccccc;
  --tx-3: #888888;
  /*  SIZES  */
  --pad-md: 1rem;
  --rad-md: .5rem;
}

[data-theme="light"] {
  --bgc-1: #ddd;
  --bgc-2: #fff;
  --txc-1: #222;
  --txc-2: #666;
  --tx1: #222;
  --tx2: #444;
  --bdc-1: #ccc;
  --nav: #fff;
  --nav1: #000;
}

[data-theme="crazy"] {
  --bgc-1: #181820;
  --bgc-2: #000;
  --txc-1: var(--rgb-l);
  --txc-2: #ccc;
  --bdc-1: var(--rgb-d);
  --acc-1: var(--rgb-l);
}

[data-theme="black"] {
  --bgc-1: #000;
  --bgc-2: #000;
  --fg1: #ccd;
  --eg1: #c40;
  --nav: #c40;
  --nav1: #fff;
}

[data-theme="picture"] {
  --bg1: url("https://unsplash.it/1920/1080");
  --bg2: #000c;
  --fg1: #ccd;
  --eg1: #c40;
  --nav: #c40;
  --nav1: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background: #181820;
  background: var(--bg-1);
  color: var(--tx-2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

body {
  margin: 0 auto;
}

/*  MAIN HEADER  */
body > header {
  position: relative;
  background: var(--acc-1);
  z-index: 9;
  box-shadow: 0 .5em .5rem #0004;
  font-weight: bold;
}

body > header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

body > header li {
  display: inline-table;
  height: 2.5rem;
}

body > header li > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

body > header a {
  border-radius: var(--rad-md);
  padding: 0 .5rem;
  color: inherit;
  text-decoration: none;
}

body > header a:visited {
  color: inherit;
}

body > header a:hover, body > header a:active, body > header a:focus {
  background: rgba(255, 255, 255, 0.15);
}

/*  DIVISIONS AND CONTAINERS  */
main,
aside {
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

article {
  margin: 0 auto;
  background: var(--bg-2);
  min-width: 240px;
  max-width: 1280px;
  border-radius: var(--rad-md);
  border: 0.0625rem solid var(--eg-1);
  overflow: hidden;
}

article + article {
  margin-top: .5rem;
}

hr {
  border: none;
  border-top: 1px solid var(--eg-1);
}

img,
svg {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*  TEXT-STYLING AND PARAGRAPH-STYLING  */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

h1,
h2 {
  color: var(--txc-1);
  margin: 0.5em var(--pad-md) 0.5rem var(--pad-md);
}

h3,
h4,
h5,
h6 {
  color: var(--txc-1);
  margin: 0.5em var(--pad-md) 0.5rem var(--pad-md);
}

p,
ul,
ol {
  margin: 0.5em var(--pad-md);
  color: var(--tx-2);
}

ul,
ol {
  padding-left: 1.75em;
}

/*  FOOTER  */
body > footer {
  background: var(--bdc-1);
  text-align: center;
}

/* MISC */
progress[value] {
  width: 5em;
  height: 1em;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--eg-1);
  --grad: linear-gradient(45deg, #fff, #000);
}

progress[value]::-ms-fill {
  background: #f80;
}

progress[value]::-moz-progress-bar {
  background: #f80;
}

progress[value]::-webkit-progress-bar {
  background: var(--grad);
}

progress[value]::-webkit-progress-value {
  background: #f80;
}

@media (max-width: 768px) {
  html {
    font-size: 2.60417vw;
  }
}

@media (max-width: 614px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 5vw;
  }
}

@media (max-width: 240px) {
  html {
    font-size: 12px;
  }
}

.sr {
  position: absolute;
  height: 1px;
  top: -9in;
  color: transparent;
}

#cursor {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 0 4rem 2rem white;
  z-index: 9999;
  background-blend-mode: multiply;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

p {
  perspective: 1in;
  transform-style: preserve-3d;
}

.plane1 {
  position: relative;
  top: 0;
  transform: translateZ(0.5in) scale(0.5);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
}
/*# sourceMappingURL=main.css.map */