[data-theme="light"] {
  --bg1: #ddd;
  --bg2: #fff;
  --fg1: #000;
  --fg2: #666;
  --hl1: #eee;
  --nav: #fff;
  --nav1: #000;
}

[data-theme="crazy"] {
  --bg1: #181820;
  --bg2: #000;
  --fg1: #fff;
  --hl1: var(--rgb-d);
  --nav: var(--rgb-l);
  --nav1: var(--rgb-d);
}
[data-theme="black"] {
  --bg1: #000;
  --bg2: #0000;
  --fg1: #ccd;
  --hl1: #c40;
  --nav: #c40;
  --nav1: #fff;
}
[data-theme="picture"] {
  --bg1: url("https://unsplash.it/1920/1080");
  --bg2: #000c;
  --fg1: #ccd;
  --hl1: #c40;
  --nav: #c40;
  --nav1: #fff;
}