:root {
  /*  COLORS  */
  --bgc: #181820;
  --bgc-dark: #0c0c10;
  --bdc: #202030;
  --txc: #ffffff;
  --txc-light: #ddd;

  /*  SIZES  */
  --pad: 1rem;
  --rad: 1rem;
}
* {
  box-sizing: border-box;
}
html {
  background: #181820;
  background: var(--bgc);
  color: #ffffff;
  color: var(--txc);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
body {
  margin: 0 auto;
  // min-height: 100vh;
}
//?=========================================================================?//
/*  MAIN HEADER  */
@import "_header";

//?=========================================================================?//
/*  DIVISIONS AND CONTAINERS  */
main,
aside {
  margin: 0 auto;
  padding-bottom: 0.5rem;
}
article {
  margin: 0 auto;
  background: var(--bgc-dark);
  max-width: 768px; //* 768px
  border-radius: var(--rad);
  border: 1px solid var(--bdc);
  overflow: hidden;

  +article{
    margin-top: .5rem;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--bdc);
}
img,
svg {
  display: block;
  width: 100%;
  object-fit: cover;
}
//?=========================================================================?//
/*  TEXT-STYLING AND PARAGRAPH-STYLING  */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
h1,
h2 {
  // text-align: center;
  margin: 0.75em var(--pad) 0.5rem var(--pad);
}
h3,
h4,
h5,
h6 {
  margin: 0.75em var(--pad) 0.5rem var(--pad);
}

p,
ul,
ol {
  margin: 0.5em var(--pad);
  color: var(--txc-light);
}
ul,
ol {
  padding-left: 1.75em;
}

//?=========================================================================?//
/* MISC */

progress[value] {
  // appearance: none;
  width: 5em;
  height: 1em;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--bdc);
  --grad: linear-gradient(45deg, #fff, #000);

  &::-ms-fill {
    background: #f80;
  }
  &::-moz-progress-bar {
    background: #f80;
  }
  &::-webkit-progress-bar {
    background: var(--grad);
  }
  &::-webkit-progress-value {
    background: #f80;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 2.60417vw;
  }
}
@media (max-width: 614px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 5vw;
  }
}
@media (max-width: 240px) {
  html {
    font-size: 12px;
  }
}

//? EXPERIMENTAL
#cursor {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 0 4rem 2rem rgba(255, 255, 255, 1);
  z-index: 9999;
  background-blend-mode: multiply;
}

img {
  // animation: kenburns 20s infinite alternate;
}
@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

p {
  perspective: 1in;
  transform-style: preserve-3d;
}
.plane1 {
  position: relative;
  top: 0;
  transform: translateZ(0.5in) scale(0.5);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
}
